import libraries(I provide all libs that I need when make this tasks, if you need some external import them here)

In [83]:
import pyspark
!pip install pandas
import pandas
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import col,aggregate,round,when
from pyspark.sql.functions import max, avg, min
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
from pyspark.sql.functions import when

Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (2.3.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.9/dist-packages (from pandas) (2025.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

create local SparkSession

In [84]:
spark=SparkSession.builder.appName("somename").getOrCreate()

read csv with inferschema

In [85]:
df=spark.read.csv("ds_salaries.csv",header=True,inferSchema=True)

read csv one more time with the same code and you will see that it almostly don't take time, because info already in SparkSession and it will not read nothing
from this file

In [86]:
df=spark.read.csv("ds_salaries.csv",header=True,inferSchema=True)

write schema of scv on screen

In [87]:
%%time
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- work_year: integer (nullable = true)
 |-- experience_level: string (nullable = true)
 |-- employment_type: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salary_currency: string (nullable = true)
 |-- salary_in_usd: integer (nullable = true)
 |-- employee_residence: string (nullable = true)
 |-- remote_ratio: integer (nullable = true)
 |-- company_location: string (nullable = true)
 |-- company_size: string (nullable = true)

CPU times: user 1.19 ms, sys: 2.06 ms, total: 3.26 ms
Wall time: 2.03 ms

create schema of this scv

In [88]:
schema=StructType([
    StructField("id",IntegerType(),True),
    StructField("work_year",StringType(),True),
    StructField("experience_level",StringType(),True),
    StructField("employment_type",StringType(),True),
    StructField("job_title",StringType(),True),
    StructField("salary",IntegerType(),True),
    StructField("salary_currency",StringType(),True),
    StructField("salary_in_usd",IntegerType(),True),
    StructField("employee_residence",StringType(),True),
    StructField("company_location",StringType(),True),
    StructField("company_size",StringType(),True),
])

restart kernel without cleaning output and after restarting you need to initialize SparkSession, after initialize start execute only cells from cell with schema=
=StructType.... 
To restart kernel click Kernel, Restart.

read ds_salaries with predefined schema and compare results from this cell and cell with inferSchema

In [89]:
%%time
ds_salaries=spark.read.csv("ds_salaries.csv",schema=schema)

CPU times: user 3.99 ms, sys: 1.31 ms, total: 5.3 ms
Wall time: 14.1 ms

this happens because read operation is lazy(transformation), but if you use inferschema it start to be action that will create Spark Job, because Spark need to loop throw all file to check datatypes for all columns and this can harm to your code(if we compare to parquet, it will also go to check data types, but parquet provide meta information, so Spark will not go throw all file, he will just read meta information, but csv don't provide such meta information). Also header make Spark to create one more Spark Job to check first line
to define name of columns and remember to skeep it when reading. Actual reading start when you will use first action. More about Spark Jobs you will see in next topic

write schema of scv on screen one more time and compare with previous

In [90]:
%%time
ds_salaries.printSchema()

root
 |-- id: integer (nullable = true)
 |-- work_year: string (nullable = true)
 |-- experience_level: string (nullable = true)
 |-- employment_type: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salary_currency: string (nullable = true)
 |-- salary_in_usd: integer (nullable = true)
 |-- employee_residence: string (nullable = true)
 |-- company_location: string (nullable = true)
 |-- company_size: string (nullable = true)

CPU times: user 0 ns, sys: 2.8 ms, total: 2.8 ms
Wall time: 1.75 ms

now continue to work with one of the dataframes that you create

print data in dataframe using df.show

In [91]:
df.show()

+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
|_c0|work_year|experience_level|employment_type|           job_title|  salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|
+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
|  0|     2020|              MI|             FT|      Data Scientist|   70000|            EUR|        79833|                DE|           0|              DE|           L|
|  1|     2020|              SE|             FT|Machine Learning ...|  260000|            USD|       260000|                JP|           0|              JP|           S|
|  2|     2020|              SE|             FT|   Big Data Engineer|   85000|            GBP|       109024|                GB|          50|              GB|           M|
|  3|     2020|              MI|             FT|Product Data Analyst|   20000|            USD|        20000|                HN|           0|              HN|           S|
|  4|     2020|              SE|             FT|Machine Learning ...|  150000|            USD|       150000|                US|          50|              US|           L|
|  5|     2020|              EN|             FT|        Data Analyst|   72000|            USD|        72000|                US|         100|              US|           L|
|  6|     2020|              SE|             FT| Lead Data Scientist|  190000|            USD|       190000|                US|         100|              US|           S|
|  7|     2020|              MI|             FT|      Data Scientist|11000000|            HUF|        35735|                HU|          50|              HU|           L|
|  8|     2020|              MI|             FT|Business Data Ana...|  135000|            USD|       135000|                US|         100|              US|           L|
|  9|     2020|              SE|             FT|  Lead Data Engineer|  125000|            USD|       125000|                NZ|          50|              NZ|           S|
| 10|     2020|              EN|             FT|      Data Scientist|   45000|            EUR|        51321|                FR|           0|              FR|           S|
| 11|     2020|              MI|             FT|      Data Scientist| 3000000|            INR|        40481|                IN|           0|              IN|           L|
| 12|     2020|              EN|             FT|      Data Scientist|   35000|            EUR|        39916|                FR|           0|              FR|           M|
| 13|     2020|              MI|             FT|   Lead Data Analyst|   87000|            USD|        87000|                US|         100|              US|           L|
| 14|     2020|              MI|             FT|        Data Analyst|   85000|            USD|        85000|                US|         100|              US|           L|
| 15|     2020|              MI|             FT|        Data Analyst|    8000|            USD|         8000|                PK|          50|              PK|           L|
| 16|     2020|              EN|             FT|       Data Engineer| 4450000|            JPY|        41689|                JP|         100|              JP|           S|
| 17|     2020|              SE|             FT|   Big Data Engineer|  100000|            EUR|       114047|                PL|         100|              GB|           S|
| 18|     2020|              EN|             FT|Data Science Cons...|  423000|            INR|         5707|                IN|          50|              IN|           M|
| 19|     2020|              MI|             FT|  Lead Data Engineer|   56000|            USD|        56000|                PT|         100|              US|           M|
+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
only showing top 20 rows

25/09/01 08:30:31 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size
 Schema: _c0, work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size
Expected: _c0 but found:
CSV file: file:///workspace/1_PySpark_Basics/ds_salaries.csv

print data in dataframe using display(df.toPandas())

In [92]:
new_df=df.toPandas()
new_df.head()

25/09/01 08:30:31 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size
 Schema: _c0, work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size
Expected: _c0 but found:
CSV file: file:///workspace/1_PySpark_Basics/ds_salaries.csv

,_c0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

create df_job_title that consists from all job_titles without duplicates

In [93]:
df_job_titles=df.select("job_title").distinct()

print all rows from df_job_titles without truncating jobs

In [94]:
df_job_titles.show()

+--------------------+
|           job_title|
+--------------------+
|3D Computer Visio...|
|  Lead Data Engineer|
|Head of Machine L...|
|     Data Specialist|
| Data Analytics Lead|
|Machine Learning ...|
|   Lead Data Analyst|
|Data Engineering ...|
|Staff Data Scientist|
|       ETL Developer|
|Director of Data ...|
|Product Data Analyst|
|Principal Data Sc...|
|        AI Scientist|
|Director of Data ...|
|Machine Learning ...|
| Lead Data Scientist|
|Machine Learning ...|
|Data Science Engi...|
|Machine Learning ...|
+--------------------+
only showing top 20 rows

create  df_analytic that will consists from max, avg, min USD salaries for all job_titles using groupBy. name of fields is avg_salary, min_salary, max_salary

In [95]:
df_analytic=df.groupBy("job_title").agg(min("salary_in_usd").alias("min_salary"),\
                                        max("salary_in_usd").alias("max_salary"),\
                                        round(avg("salary_in_usd"),1).alias("avg_salary"))

print all rows from df_analytic without trancating jobs

In [96]:
df_analytic.show()

+--------------------+----------+----------+----------+
|           job_title|min_salary|max_salary|avg_salary|
+--------------------+----------+----------+----------+
|3D Computer Visio...|      5409|      5409|    5409.0|
|  Lead Data Engineer|     56000|    276000|  139724.5|
|Head of Machine L...|     79039|     79039|   79039.0|
|     Data Specialist|    165000|    165000|  165000.0|
| Data Analytics Lead|    405000|    405000|  405000.0|
|Machine Learning ...|     12000|    260000|  158412.5|
|   Lead Data Analyst|     19609|    170000|   92203.0|
|Data Engineering ...|     59303|    174000|  123227.2|
|Staff Data Scientist|    105000|    105000|  105000.0|
|       ETL Developer|     54957|     54957|   54957.0|
|Director of Data ...|    113476|    200000|  156738.0|
|Product Data Analyst|      6072|     20000|   13036.0|
|Principal Data Sc...|    148261|    416000|  215242.4|
|        AI Scientist|     12000|    200000|   66135.6|
|Director of Data ...|    130026|    325000|  195074.0|
|Machine Learning ...|     20000|    250000|  104880.1|
| Lead Data Scientist|     40570|    190000|  115190.0|
|Machine Learning ...|     50180|    195000|  101145.0|
|Data Science Engi...|     40189|    127221|   75803.3|
|Machine Learning ...|    117104|    117104|  117104.0|
+--------------------+----------+----------+----------+
only showing top 20 rows

now you need to add in df_analytic column row_id, that will show order of all job_titles depending on avg salary. they should be descending

In [97]:
window=Window.orderBy(col("avg_salary").desc())
df_analytic=df_analytic.withColumn("row_id",row_number().over(window))

print all data from df_analytic

In [98]:
df_analytic.show()

+--------------------+----------+----------+----------+------+
|           job_title|min_salary|max_salary|avg_salary|row_id|
+--------------------+----------+----------+----------+------+
| Data Analytics Lead|    405000|    405000|  405000.0|     1|
|Principal Data En...|    185000|    600000|  328333.3|     2|
|Financial Data An...|    100000|    450000|  275000.0|     3|
|Principal Data Sc...|    148261|    416000|  215242.4|     4|
|Director of Data ...|    130026|    325000|  195074.0|     5|
|      Data Architect|     90700|    266400|  177873.9|     6|
|Applied Data Scie...|     54238|    380000|  175655.0|     7|
|  Analytics Engineer|    135000|    205300|  175000.0|     8|
|     Data Specialist|    165000|    165000|  165000.0|     9|
|        Head of Data|     32974|    235000|  160162.6|    10|
|Machine Learning ...|     12000|    260000|  158412.5|    11|
|Data Science Manager|     54094|    241000|  158328.5|    12|
|Director of Data ...|    113476|    200000|  156738.0|    13|
|Head of Data Science|     85000|    224000|  146718.8|    14|
|Applied Machine L...|     31875|    423000|  142068.8|    15|
|  Lead Data Engineer|     56000|    276000|  139724.5|    16|
|Data Analytics Ma...|    105400|    150260|  127134.3|    17|
| Cloud Data Engineer|     89294|    160000|  124647.0|    18|
|Data Engineering ...|     59303|    174000|  123227.2|    19|
|Principal Data An...|     75000|    170000|  122500.0|    20|
+--------------------+----------+----------+----------+------+
only showing top 20 rows

25/09/01 08:30:33 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/09/01 08:30:33 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/09/01 08:30:33 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/09/01 08:30:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/09/01 08:30:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/09/01 08:30:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

it isn't beautifull, so we need to put now row_id on first place in df_analytic

In [99]:
df_analytic=df_analytic.select("row_id","job_title","min_salary","max_salary","avg_salary")

print df_analytic now

In [100]:
df_analytic.show()

+------+--------------------+----------+----------+----------+
|row_id|           job_title|min_salary|max_salary|avg_salary|
+------+--------------------+----------+----------+----------+
|     1| Data Analytics Lead|    405000|    405000|  405000.0|
|     2|Principal Data En...|    185000|    600000|  328333.3|
|     3|Financial Data An...|    100000|    450000|  275000.0|
|     4|Principal Data Sc...|    148261|    416000|  215242.4|
|     5|Director of Data ...|    130026|    325000|  195074.0|
|     6|      Data Architect|     90700|    266400|  177873.9|
|     7|Applied Data Scie...|     54238|    380000|  175655.0|
|     8|  Analytics Engineer|    135000|    205300|  175000.0|
|     9|     Data Specialist|    165000|    165000|  165000.0|
|    10|        Head of Data|     32974|    235000|  160162.6|
|    11|Machine Learning ...|     12000|    260000|  158412.5|
|    12|Data Science Manager|     54094|    241000|  158328.5|
|    13|Director of Data ...|    113476|    200000|  156738.0|
|    14|Head of Data Science|     85000|    224000|  146718.8|
|    15|Applied Machine L...|     31875|    423000|  142068.8|
|    16|  Lead Data Engineer|     56000|    276000|  139724.5|
|    17|Data Analytics Ma...|    105400|    150260|  127134.3|
|    18| Cloud Data Engineer|     89294|    160000|  124647.0|
|    19|Data Engineering ...|     59303|    174000|  123227.2|
|    20|Principal Data An...|     75000|    170000|  122500.0|
+------+--------------------+----------+----------+----------+
only showing top 20 rows

25/09/01 08:30:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/09/01 08:30:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/09/01 08:30:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/09/01 08:30:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/09/01 08:30:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/09/01 08:30:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

here you need to create df_exp_lvl with the biggest usd_salary(biggest_salary) for each experience_level(you need to save all fields like in entire dataframe)

In [101]:
window1=Window.partitionBy(col("experience_level"))

df_exp_lvl=df.withColumn("biggest_salary",max("salary_in_usd").over(window1))

print here df_exp_lvl

In [102]:
df_exp_lvl.show()

+---+---------+----------------+---------------+--------------------+-------+---------------+-------------+------------------+------------+----------------+------------+--------------+
|_c0|work_year|experience_level|employment_type|           job_title| salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|biggest_salary|
+---+---------+----------------+---------------+--------------------+-------+---------------+-------------+------------------+------------+----------------+------------+--------------+
|  5|     2020|              EN|             FT|        Data Analyst|  72000|            USD|        72000|                US|         100|              US|           L|        250000|
| 10|     2020|              EN|             FT|      Data Scientist|  45000|            EUR|        51321|                FR|           0|              FR|           S|        250000|
| 12|     2020|              EN|             FT|      Data Scientist|  35000|            EUR|        39916|                FR|           0|              FR|           M|        250000|
| 16|     2020|              EN|             FT|       Data Engineer|4450000|            JPY|        41689|                JP|         100|              JP|           S|        250000|
| 18|     2020|              EN|             FT|Data Science Cons...| 423000|            INR|         5707|                IN|          50|              IN|           M|        250000|
| 26|     2020|              EN|             FT|  Research Scientist|  42000|            USD|        42000|                NL|          50|              NL|           L|        250000|
| 28|     2020|              EN|             CT|Business Data Ana...| 100000|            USD|       100000|                US|         100|              US|           L|        250000|
| 31|     2020|              EN|             FT|   Big Data Engineer|  70000|            USD|        70000|                US|         100|              US|           L|        250000|
| 37|     2020|              EN|             FT|Machine Learning ...| 250000|            USD|       250000|                US|          50|              US|           L|        250000|
| 38|     2020|              EN|             FT|        Data Analyst|  10000|            USD|        10000|                NG|         100|              NG|           S|        250000|
| 39|     2020|              EN|             FT|Machine Learning ...| 138000|            USD|       138000|                US|         100|              US|           S|        250000|
| 45|     2020|              EN|             PT|         ML Engineer|  14000|            EUR|        15966|                DE|         100|              DE|           S|        250000|
| 50|     2020|              EN|             FT|        Data Analyst| 450000|            INR|         6072|                IN|           0|              IN|           S|        250000|
| 51|     2020|              EN|             FT|        Data Analyst|  91000|            USD|        91000|                US|         100|              US|           L|        250000|
| 52|     2020|              EN|             FT|        AI Scientist| 300000|            DKK|        45896|                DK|          50|              DK|           S|        250000|
| 53|     2020|              EN|             FT|       Data Engineer|  48000|            EUR|        54742|                PK|         100|              DE|           L|        250000|
| 62|     2020|              EN|             PT|      Data Scientist|  19000|            EUR|        21669|                IT|          50|              IT|           S|        250000|
| 65|     2020|              EN|             FT|      Data Scientist|  55000|            EUR|        62726|                DE|          50|              DE|           S|        250000|
| 66|     2020|              EN|             FT|      Data Scientist|  43200|            EUR|        49268|                DE|           0|              DE|           S|        250000|
| 68|     2020|              EN|             FT|      Data Scientist| 105000|            USD|       105000|                US|         100|              US|           S|        250000|
+---+---------+----------------+---------------+--------------------+-------+---------------+-------------+------------------+------------+----------------+------------+--------------+
only showing top 20 rows

25/09/01 08:30:35 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size
 Schema: _c0, work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size
Expected: _c0 but found:
CSV file: file:///workspace/1_PySpark_Basics/ds_salaries.csv

create df_best that consists from rows where salary of guy same as biggest salary for other people in his exp_lvl and choose only columns: id, experience_level, biggest_salary, employee_residence

In [103]:
best=df_exp_lvl.filter("biggest_salary==salary_in_usd")
df_best=df_exp_lvl.select("_c0","job_title","experience_level","employee_residence")\
    .join(other=best.select("experience_level",col("salary").alias("biggest_salary")),on="experience_level",how="left").drop("job_title")

print df_best

In [104]:
df_best.show(df_best.count())

+----------------+---+------------------+--------------+
|experience_level|_c0|employee_residence|biggest_salary|
+----------------+---+------------------+--------------+
|              MI|  0|                DE|        450000|
|              MI|  0|                DE|        450000|
|              SE|  1|                JP|        412000|
|              SE|  2|                GB|        412000|
|              MI|  3|                HN|        450000|
|              MI|  3|                HN|        450000|
|              SE|  4|                US|        412000|
|              EN|  5|                US|        250000|
|              SE|  6|                US|        412000|
|              MI|  7|                HU|        450000|
|              MI|  7|                HU|        450000|
|              MI|  8|                US|        450000|
|              MI|  8|                US|        450000|
|              SE|  9|                NZ|        412000|
|              EN| 10|                FR|        250000|
|              MI| 11|                IN|        450000|
|              MI| 11|                IN|        450000|
|              EN| 12|                FR|        250000|
|              MI| 13|                US|        450000|
|              MI| 13|                US|        450000|
|              MI| 14|                US|        450000|
|              MI| 14|                US|        450000|
|              MI| 15|                PK|        450000|
|              MI| 15|                PK|        450000|
|              EN| 16|                JP|        250000|
|              SE| 17|                PL|        412000|
|              EN| 18|                IN|        250000|
|              MI| 19|                PT|        450000|
|              MI| 19|                PT|        450000|
|              MI| 20|                CN|        450000|
|              MI| 20|                CN|        450000|
|              MI| 21|                IN|        450000|
|              MI| 21|                IN|        450000|
|              SE| 22|                GR|        412000|
|              MI| 23|                US|        450000|
|              MI| 23|                US|        450000|
|              MI| 24|                AE|        450000|
|              MI| 24|                AE|        450000|
|              EX| 25|                US|        600000|
|              EN| 26|                NL|        250000|
|              SE| 27|                MX|        412000|
|              EN| 28|                US|        250000|
|              SE| 29|                CA|        412000|
|              MI| 30|                DE|        450000|
|              MI| 30|                DE|        450000|
|              EN| 31|                US|        250000|
|              SE| 32|                GR|        412000|
|              MI| 33|                US|        450000|
|              MI| 33|                US|        450000|
|              MI| 34|                FR|        450000|
|              MI| 34|                FR|        450000|
|              MI| 35|                AT|        450000|
|              MI| 35|                AT|        450000|
|              MI| 36|                US|        450000|
|              MI| 36|                US|        450000|
|              EN| 37|                US|        250000|
|              EN| 38|                NG|        250000|
|              EN| 39|                US|        250000|
|              MI| 40|                PH|        450000|
|              MI| 40|                PH|        450000|
|              EX| 41|                ES|        600000|
|              MI| 42|                PT|        450000|
|              MI| 42|                PT|        450000|
|              MI| 43|                US|        450000|
|              MI| 43|                US|        450000|
|              MI| 44|                GB|        450000|
|              MI| 44|                GB|        450000|
|              EN| 45|                DE|        250000|
|              MI| 46|                GB|        450000|
|              MI| 46|                GB|        450000|
|              SE| 47|                US|        412000|
|              MI| 48|                US|        450000|
|              MI| 48|                US|        450000|
|              MI| 49|                FR|        450000|
|              MI| 49|                FR|        450000|
|              EN| 50|                IN|        250000|
|              EN| 51|                US|        250000|
|              EN| 52|                DK|        250000|
|              EN| 53|                PK|        250000|
|              SE| 54|                RU|        412000|
|              SE| 55|                DE|        412000|
|              MI| 56|                ES|        450000|
|              MI| 56|                ES|        450000|
|              MI| 57|                US|        450000|
|              MI| 57|                US|        450000|
|              SE| 58|                US|        412000|
|              MI| 59|                US|        450000|
|              MI| 59|                US|        450000|
|              MI| 60|                US|        450000|
|              MI| 60|                US|        450000|
|              MI| 61|                ES|        450000|
|              MI| 61|                ES|        450000|
|              EN| 62|                IT|        250000|
|              SE| 63|                US|        412000|
|              SE| 64|                HR|        412000|
|              EN| 65|                DE|        250000|
|              EN| 66|                DE|        250000|
|              SE| 67|                US|        412000|
|              EN| 68|                US|        250000|
|              SE| 69|                AT|        412000|
|              MI| 70|                FR|        450000|
|              MI| 70|                FR|        450000|
|              MI| 71|                FR|        450000|
|              MI| 71|                FR|        450000|
|              EN| 72|                GB|        250000|
|              EX| 73|                IN|        600000|
|              EX| 74|                US|        600000|
|              SE| 75|                FR|        412000|
|              MI| 76|                US|        450000|
|              MI| 76|                US|        450000|
|              MI| 77|                IN|        450000|
|              MI| 77|                IN|        450000|
|              MI| 78|                US|        450000|
|              MI| 78|                US|        450000|
|              EN| 79|                US|        250000|
|              SE| 80|                DE|        412000|
|              MI| 81|                US|        450000|
|              MI| 81|                US|        450000|
|              MI| 82|                GB|        450000|
|              MI| 82|                GB|        450000|
|              MI| 83|                ES|        450000|
|              MI| 83|                ES|        450000|
|              EX| 84|                IT|        600000|
|              MI| 85|                PL|        450000|
|              MI| 85|                PL|        450000|
|              EN| 86|                FR|        250000|
|              MI| 87|                US|        450000|
|              MI| 87|                US|        450000|
|              SE| 88|                US|        412000|
|              SE| 89|                BG|        412000|
|              SE| 90|                GR|        412000|
|              EN| 91|                DE|        250000|
|              MI| 92|                IN|        450000|
|              MI| 92|                IN|        450000|
|              SE| 93|                US|        412000|
|              EN| 94|                IN|        250000|
|              MI| 95|                SG|        450000|
|              MI| 95|                SG|        450000|
|              EN| 96|                BR|        250000|
|              MI| 97|                US|        450000|
|              MI| 97|                US|        450000|
|              EN| 98|                US|        250000|
|              MI| 99|                DE|        450000|
|              MI| 99|                DE|        450000|
|              MI|100|                US|        450000|
|              MI|100|                US|        450000|
|              SE|101|                US|        412000|
|              MI|102|                HU|        450000|
|              MI|102|                HU|        450000|
|              MI|103|                US|        450000|
|              MI|103|                US|        450000|
|              MI|104|                US|        450000|
|              MI|104|                US|        450000|
|              MI|105|                GB|        450000|
|              MI|105|                GB|        450000|
|              MI|106|                CA|        450000|
|              MI|106|                CA|        450000|
|              SE|107|                US|        412000|
|              SE|108|                US|        412000|
|              EN|109|                IN|        250000|
|              SE|110|                DE|        412000|
|              SE|111|                GB|        412000|
|              SE|112|                GB|        412000|
|              EN|113|                PK|        250000|
|              MI|114|                NL|        450000|
|              MI|114|                NL|        450000|
|              EN|115|                US|        250000|
|              MI|116|                NG|        450000|
|              MI|116|                NG|        450000|
|              MI|117|                GR|        450000|
|              MI|117|                GR|        450000|
|              EN|118|                US|        250000|
|              MI|119|                US|        450000|
|              MI|119|                US|        450000|
|              MI|120|                ES|        450000|
|              MI|120|                ES|        450000|
|              SE|121|                US|        412000|
|              EN|122|                US|        250000|
|              EN|123|                GB|        250000|
|              EN|124|                ES|        250000|
|              MI|125|                US|        450000|
|              MI|125|                US|        450000|
|              SE|126|                US|        412000|
|              MI|127|                IN|        450000|
|              MI|127|                IN|        450000|
|              EN|128|                IN|        250000|
|              SE|129|                IN|        412000|
|              EN|130|                IQ|        250000|
|              EN|131|                FR|        250000|
|              MI|132|                VN|        450000|
|              MI|132|                VN|        450000|
|              SE|133|                BR|        412000|
|              EN|134|                US|        250000|
|              MI|135|                US|        450000|
|              MI|135|                US|        450000|
|              MI|136|                JP|        450000|
|              MI|136|                JP|        450000|
|              MI|137|                JP|        450000|
|              MI|137|                JP|        450000|
|              SE|138|                US|        412000|
|              EN|139|                US|        250000|
|              MI|140|                US|        450000|
|              MI|140|                US|        450000|
|              SE|141|                US|        412000|
|              SE|142|                US|        412000|
|              MI|143|                US|        450000|
|              MI|143|                US|        450000|
|              MI|144|                US|        450000|
|              MI|144|                US|        450000|
|              SE|145|                BE|        412000|
|              MI|146|                FR|        450000|
|              MI|146|                FR|        450000|
|              MI|147|                US|        450000|
|              MI|147|                US|        450000|
|              SE|148|                US|        412000|
|              SE|149|                BR|        412000|
|              SE|150|                JP|        412000|
|              MI|151|                US|        450000|
|              MI|151|                US|        450000|
|              MI|152|                CA|        450000|
|              MI|152|                CA|        450000|
|              EN|153|                UA|        250000|
|              SE|154|                US|        412000|
|              SE|155|                CA|        412000|
|              MI|156|                SG|        450000|
|              MI|156|                SG|        450000|
|              MI|157|                US|        450000|
|              MI|157|                US|        450000|
|              SE|158|                US|        412000|
|              EN|159|                US|        250000|
|              EX|160|                RU|        600000|
|              EX|161|                RU|        600000|
|              MI|162|                MT|        450000|
|              MI|162|                MT|        450000|
|              EN|163|                DE|        250000|
|              EX|164|                DE|        600000|
|              SE|165|                US|        412000|
|              EN|166|                US|        250000|
|              EX|167|                US|        600000|
|              EN|168|                US|        250000|
|              MI|169|                US|        450000|
|              MI|169|                US|        450000|
|              MI|170|                US|        450000|
|              MI|170|                US|        450000|
|              MI|171|                GB|        450000|
|              MI|171|                GB|        450000|
|              EN|172|                US|        250000|
|              SE|173|                US|        412000|
|              SE|174|                PT|        412000|
|              SE|175|                US|        412000|
|              MI|176|                MX|        450000|
|              MI|176|                MX|        450000|
|              MI|177|                CL|        450000|
|              MI|177|                CL|        450000|
|              EN|178|                US|        250000|
|              MI|179|                IN|        450000|
|              MI|179|                IN|        450000|
|              MI|180|                IN|        450000|
|              MI|180|                IN|        450000|
|              MI|181|                DE|        450000|
|              MI|181|                DE|        450000|
|              MI|182|                RO|        450000|
|              MI|182|                RO|        450000|
|              SE|183|                GB|        412000|
|              MI|184|                PK|        450000|
|              MI|184|                PK|        450000|
|              MI|185|                IR|        450000|
|              MI|185|                IR|        450000|
|              SE|186|                VN|        412000|
|              EX|187|                FR|        600000|
|              SE|188|                RO|        412000|
|              MI|189|                JP|        450000|
|              MI|189|                JP|        450000|
|              SE|190|                US|        412000|
|              EN|191|                CO|        250000|
|              MI|192|                MD|        450000|
|              MI|192|                MD|        450000|
|              SE|193|                US|        412000|
|              SE|194|                CA|        412000|
|              MI|195|                US|        450000|
|              MI|195|                US|        450000|
|              EN|196|                KE|        250000|
|              SE|197|                IN|        412000|
|              SE|198|                IN|        412000|
|              EN|199|                US|        250000|
|              MI|200|                DE|        450000|
|              MI|200|                DE|        450000|
|              SE|201|                US|        412000|
|              MI|202|                ES|        450000|
|              MI|202|                ES|        450000|
|              SE|203|                FR|        412000|
|              MI|204|                US|        450000|
|              MI|204|                US|        450000|
|              MI|205|                BR|        450000|
|              MI|205|                BR|        450000|
|              SE|206|                US|        412000|
|              SE|207|                US|        412000|
|              MI|208|                IT|        450000|
|              MI|208|                IT|        450000|
|              SE|209|                US|        412000|
|              MI|210|                SI|        450000|
|              MI|210|                SI|        450000|
|              MI|211|                FR|        450000|
|              MI|211|                FR|        450000|
|              MI|212|                HK|        450000|
|              MI|212|                HK|        450000|
|              EN|213|                IN|        250000|
|              EN|214|                DE|        250000|
|              SE|215|                US|        412000|
|              EN|216|                DK|        250000|
|              MI|217|                DE|        450000|
|              MI|217|                DE|        450000|
|              MI|218|                BE|        450000|
|              MI|218|                BE|        450000|
|              SE|219|                US|        412000|
|              MI|220|                PL|        450000|
|              MI|220|                PL|        450000|
|              MI|221|                GB|        450000|
|              MI|221|                GB|        450000|
|              MI|222|                IN|        450000|
|              MI|222|                IN|        450000|
|              MI|223|                GB|        450000|
|              MI|223|                GB|        450000|
|              SE|224|                US|        412000|
|              EX|225|                US|        600000|
|              SE|226|                CA|        412000|
|              MI|227|                DE|        450000|
|              MI|227|                DE|        450000|
|              SE|228|                US|        412000|
|              SE|229|                CA|        412000|
|              EN|230|                IN|        250000|
|              SE|231|                US|        412000|
|              SE|232|                US|        412000|
|              SE|233|                US|        412000|
|              MI|234|                US|        450000|
|              MI|234|                US|        450000|
|              MI|235|                US|        450000|
|              MI|235|                US|        450000|
|              MI|236|                CA|        450000|
|              MI|236|                CA|        450000|
|              MI|237|                ES|        450000|
|              MI|237|                ES|        450000|
|              EN|238|                VN|        250000|
|              EN|239|                IN|        250000|
|              SE|240|                CA|        412000|
|              MI|241|                US|        450000|
|              MI|241|                US|        450000|

25/09/01 08:30:36 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , experience_level, employee_residence
 Schema: _c0, experience_level, employee_residence
Expected: _c0 but found:
CSV file: file:///workspace/1_PySpark_Basics/ds_salaries.csv

drop duplicates if exist by experience_level

In [105]:
df_best=df_best.dropDuplicates()

print df_best

In [106]:
df_best.show(df_best.count())

25/09/01 08:30:36 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , experience_level, employee_residence
 Schema: _c0, experience_level, employee_residence
Expected: _c0 but found:
CSV file: file:///workspace/1_PySpark_Basics/ds_salaries.csv
25/09/01 08:30:37 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , experience_level, employee_residence
 Schema: _c0, experience_level, employee_residence
Expected: _c0 but found:
CSV file: file:///workspace/1_PySpark_Basics/ds_salaries.csv

+----------------+---+------------------+--------------+
|experience_level|_c0|employee_residence|biggest_salary|
+----------------+---+------------------+--------------+
|              EN| 28|                US|        250000|
|              SE|108|                US|        412000|
|              EN|134|                US|        250000|
|              MI|292|                US|        450000|
|              MI|437|                GR|        450000|
|              EX|187|                FR|        600000|
|              SE|399|                US|        412000|
|              MI|491|                CA|        450000|
|              SE|583|                US|        412000|
|              MI|100|                US|        450000|
|              SE|265|                PR|        412000|
|              SE|402|                US|        412000|
|              SE|552|                US|        412000|
|              MI| 46|                GB|        450000|
|              EN|109|                IN|        250000|
|              EX|482|                US|        600000|
|              SE|581|                US|        412000|
|              SE|603|                US|        412000|
|              SE|  6|                US|        412000|
|              MI| 23|                US|        450000|
|              SE|107|                US|        412000|
|              MI|397|                GB|        450000|
|              SE| 54|                RU|        412000|
|              EX|344|                US|        600000|
|              MI|511|                CA|        450000|
|              SE|394|                US|        412000|
|              MI|501|                EE|        450000|
|              EN| 26|                NL|        250000|
|              EN| 50|                IN|        250000|
|              MI|434|                GB|        450000|
|              SE|556|                US|        412000|
|              EN|172|                US|        250000|
|              SE|332|                US|        412000|
|              EN| 18|                IN|        250000|
|              SE|158|                US|        412000|
|              MI|177|                CL|        450000|
|              SE|318|                US|        412000|
|              SE|351|                US|        412000|
|              SE|  9|                NZ|        412000|
|              MI|530|                CA|        450000|
|              SE|565|                US|        412000|
|              SE|301|                GB|        412000|
|              MI|410|                GB|        450000|
|              EN|601|                CA|        250000|
|              MI|147|                US|        450000|
|              EN|239|                IN|        250000|
|              MI|435|                GB|        450000|
|              MI|509|                US|        450000|
|              MI|389|                GB|        450000|
|              SE|428|                US|        412000|
|              SE|554|                US|        412000|
|              MI| 60|                US|        450000|
|              MI|104|                US|        450000|
|              SE|322|                US|        412000|
|              MI|114|                NL|        450000|
|              MI| 21|                IN|        450000|
|              SE|240|                CA|        412000|
|              SE|186|                VN|        412000|
|              MI|475|                GB|        450000|
|              SE|305|                US|        412000|
|              SE|377|                US|        412000|
|              SE|387|                US|        412000|
|              SE|525|                US|        412000|
|              EN| 68|                US|        250000|
|              SE| 90|                GR|        412000|
|              MI|184|                PK|        450000|
|              SE|472|                US|        412000|
|              MI|598|                US|        450000|
|              SE|112|                GB|        412000|
|              SE|350|                US|        412000|
|              EX|375|                CA|        600000|
|              SE|593|                US|        412000|
|              MI|105|                GB|        450000|
|              SE|126|                US|        412000|
|              EN|600|                CA|        250000|
|              SE|173|                US|        412000|
|              EN|276|                US|        250000|
|              MI|313|                GB|        450000|
|              MI|479|                US|        450000|
|              SE|597|                US|        412000|
|              EX|368|                US|        600000|
|              SE|271|                BR|        412000|
|              SE|376|                US|        412000|
|              SE|604|                US|        412000|
|              SE|317|                US|        412000|
|              MI|170|                US|        450000|
|              MI|282|                NL|        450000|
|              SE|409|                US|        412000|
|              MI|102|                HU|        450000|
|              MI|488|                CA|        450000|
|              MI|539|                US|        450000|
|              SE|559|                US|        412000|
|              SE|138|                US|        412000|
|              EX|252|                US|        600000|
|              SE| 22|                GR|        412000|
|              EX| 41|                ES|        600000|
|              SE|203|                FR|        412000|
|              MI|210|                SI|        450000|
|              MI|247|                TR|        450000|
|              SE|286|                SI|        412000|
|              SE|379|                US|        412000|
|              MI|411|                GB|        450000|
|              MI|543|                US|        450000|
|              SE|575|                US|        412000|
|              MI| 48|                US|        450000|
|              EN|113|                PK|        250000|
|              SE|331|                US|        412000|
|              MI|433|                ES|        450000|
|              SE|592|                US|        412000|
|              EX|167|                US|        600000|
|              EN|279|                LU|        250000|
|              MI|451|                CA|        450000|
|              SE|562|                US|        412000|
|              MI| 33|                US|        450000|
|              SE| 29|                CA|        412000|
|              MI| 40|                PH|        450000|
|              MI|125|                US|        450000|
|              MI|182|                RO|        450000|
|              SE|261|                DE|        412000|
|              MI| 30|                DE|        450000|
|              MI|264|                RS|        450000|
|              MI|288|                IT|        450000|
|              MI|308|                US|        450000|
|              SE|456|                US|        412000|
|              SE|587|                US|        412000|
|              MI|180|                IN|        450000|
|              MI|459|                IN|        450000|
|              EX|161|                RU|        600000|
|              MI|307|                US|        450000|
|              SE|337|                US|        412000|
|              SE|338|                US|        412000|
|              MI|171|                GB|        450000|
|              SE|297|                US|        412000|
|              SE| 32|                GR|        412000|
|              EN|214|                DE|        250000|
|              SE|335|                US|        412000|
|              SE|497|                US|        412000|
|              MI|151|                US|        450000|
|              MI|222|                IN|        450000|
|              MI|517|                FR|        450000|
|              SE|149|                BR|        412000|
|              MI|420|                US|        450000|
|              MI| 19|                PT|        450000|
|              MI| 85|                PL|        450000|
|              SE|468|                US|        412000|
|              MI|  7|                HU|        450000|
|              SE|328|                US|        412000|
|              SE|513|                IE|        412000|
|              MI|294|                US|        450000|
|              MI|396|                FR|        450000|
|              MI|436|                ES|        450000|
|              EN|499|                CA|        250000|
|              SE|  2|                GB|        412000|
|              MI| 77|                IN|        450000|
|              MI| 83|                ES|        450000|
|              MI|217|                DE|        450000|
|              SE|467|                US|        412000|
|              SE|541|                US|        412000|
|              SE|602|                US|        412000|
|              MI| 15|                PK|        450000|
|              MI| 95|                SG|        450000|
|              MI|267|                US|        450000|
|              SE|395|                US|        412000|
|              MI|136|                JP|        450000|
|              EN| 51|                US|        250000|
|              MI| 61|                ES|        450000|
|              SE|150|                JP|        412000|
|              SE|353|                US|        412000|
|              SE|382|                US|        412000|
|              SE|424|                US|        412000|
|              MI|427|                ES|        450000|
|              SE|594|                US|        412000|
|              SE| 55|                DE|        412000|
|              SE|369|                US|        412000|
|              SE|407|                US|        412000|
|              MI|441|                GR|        450000|
|              SE|561|                US|        412000|
|              SE|448|                US|        412000|
|              SE|480|                AE|        412000|
|              SE|576|                US|        412000|
|              SE|393|                US|        412000|
|              EN| 91|                DE|        250000|
|              MI|144|                US|        450000|
|              MI|311|                GB|        450000|
|              SE|352|                US|        412000|
|              SE|365|                US|        412000|
|              EN|115|                US|        250000|
|              EN|139|                US|        250000|
|              MI|195|                US|        450000|
|              MI|234|                US|        450000|
|              MI|266|                US|        450000|
|              MI| 81|                US|        450000|
|              EN|153|                UA|        250000|
|              SE|516|                US|        412000|
|              SE|569|                US|        412000|
|              EX|160|                RU|        600000|
|              SE|228|                US|        412000|
|              EN|273|                NL|        250000|
|              SE|595|                US|        412000|
|              SE|111|                GB|        412000|
|              MI|235|                US|        450000|
|              EX|342|                US|        600000|
|              MI| 78|                US|        450000|
|              EN|128|                IN|        250000|
|              SE|141|                US|        412000|
|              MI|415|                GB|        450000|
|              MI|418|                US|        450000|
|              SE| 64|                HR|        412000|
|              SE|300|                GB|        412000|
|              EN| 39|                US|        250000|
|              SE|341|                US|        412000|
|              SE|423|                US|        412000|
|              SE|444|                US|        412000|
|              EN|512|                US|        250000|
|              SE|579|                US|        412000|
|              EN| 96|                BR|        250000|
|              MI|422|                US|        450000|
|              SE|464|                DE|        412000|
|              SE|596|                US|        412000|
|              MI|312|                GB|        450000|
|              MI|455|                US|        450000|
|              SE|588|                US|        412000|
|              MI|200|                DE|        450000|
|              SE|457|                DE|        412000|
|              MI| 97|                US|        450000|
|              EN| 98|                US|        250000|
|              SE|206|                US|        412000|
|              MI|221|                GB|        450000|
|              SE|473|                US|        412000|
|              MI|127|                IN|        450000|
|              SE|197|                IN|        412000|
|              SE|354|                GB|        412000|
|              SE|403|                US|        412000|
|              SE|232|                US|        412000|
|              SE|258|                US|        412000|
|              MI|460|                PT|        450000|
|              EN|465|                US|        250000|
|              MI|478|                US|        450000|
|              SE|174|                PT|        412000|
|              SE|519|                US|        412000|
|              MI|522|                GR|        450000|
|              SE|523|                US|        412000|
|              MI|192|                MD|        450000|
|              SE|400|                US|        412000|
|              MI|599|                US|        450000|
|              EN|  5|                US|        250000|
|              EN|275|                US|        250000|
|              EN|316|                GB|        250000|
|              SE|557|                US|        412000|
|              SE|175|                US|        412000|
|              MI|262|                IN|        450000|
|              MI| 35|                AT|        450000|
|              MI|212|                HK|        450000|
|              SE|324|                US|        412000|
|              SE|504|                US|        412000|
|              EN| 52|                DK|        250000|
|              MI|241|                US|        450000|
|              SE|527|                US|        412000|
|              MI|119|                US|        450000|
|              MI|413|                GR|        450000|
|              MI|116|                NG|        450000|
|              SE|371|                US|        412000|
|              SE|555|                US|        412000|
|              SE|201|                US|        412000|
|              SE|392|                US|        412000|
|              MI|103|                US|        450000|
|              EN|130|                IQ|        250000|
|              MI|287|                US|        450000|
|              EN|454|                US|        250000|
|              MI|156|                SG|        450000|
|              SE|209|                US|        412000|
|              EN|269|                DE|        250000|
|              SE|486|                US|        412000|
|              MI| 13|                US|        450000|
|              SE|193|                US|        412000|
|              SE|320|                US|        412000|
|              SE|498|                FR|        412000|
|              MI|179|                IN|        450000|
|              EN|244|                IN|        250000|
|              SE|289|                US|        412000|
|              MI|295|                US|        450000|
|              SE|330|                US|        412000|
|              EX| 84|                IT|        600000|
|              SE|198|                IN|        412000|
|              MI|256|                US|        450000|
|              SE|547|                US|        412000|
|              MI|132|                VN|        450000|
|              SE|290|                US|        412000|
|              MI|140|                US|        450000|
|              EN|246|                FR|        250000|
|              MI|443|                GB|        450000|
|              MI|470|                US|        450000|
|              MI|152|                CA|        450000|
|              EN|178|                US|        250000|
|              SE|249|                US|        412000|
|              SE|532|                US|        412000|
|              SE| 27|                MX|        412000|
|              SE|303|                US|        412000|
|              SE|347|                US|        412000|
|              SE|534|                US|        412000|
|              SE|229|                CA|        412000|
|              SE|231|                US|        412000|
|              SE|346|                US|        412000|
|              SE|447|                US|        412000|
|              SE| 63|                US|        412000|
|              EX|326|                US|        600000|
|              SE|564|                US|        412000|
|              SE|366|                US|        412000|
|              MI|414|                GB|        450000|
|              MI|515|                RU|        450000|
|              MI|106|                CA|        450000|
|              EN|166|                US|        250000|
|              MI|227|                DE|        450000|
|              EX|309|                US|        600000|
|              SE|401|                US|        412000|
|              EN|461|                US|        250000|
|              EX|259|                DE|        600000|
|              EN| 45|                DE|        250000|
|              MI|268|                TR|        450000|
|              MI| 76|                US|        450000|
|              MI| 82|                GB|        450000|
|              MI|462|                DE|        450000|
|              MI|474|                GB|        450000|
|              EN|514|                PK|        250000|
|              SE|545|                US|        412000|
|              MI|202|                ES|        450000|
|              SE|298|                US|        412000|
|              SE|133|                BR|        412000|
|              SE|257|                DE|        412000|
|              SE|446|                US|        412000|
|              SE|540|                US|        412000|
|              SE|577|                US|        412000|
|              EX| 25|                US|        600000|
|              MI| 36|                US|        450000|
|              SE|194|                CA|        412000|
|              SE|339|                US|        412000|
|              SE|551|                US|        412000|
|              MI|  3|                HN|        450000|
|              MI| 59|                US|        450000|
|              EN|124|                ES|        250000|
|              MI|189|                JP|        450000|
|              SE|325|                US|        412000|
|              SE|370|                US|        412000|
|              SE| 47|                US|        412000|
|              SE|466|                US|        412000|
|              MI| 42|                PT|        450000|
|              MI|176|                MX|        450000|

create df_new_best from df_best without id, and make the next: when exp_level = MI we want middle, when SE we want senior, else Null

In [107]:


df_new_best=df_best.withColumn("experience_level",\
    when(col("experience_level")=="SE","senior").\
    when(col("experience_level")=="MI","middle").\
    otherwise(None)
)
df_new_best=df_new_best.drop("_c0")

print df_new_best

In [108]:
df_new_best.show()

+----------------+------------------+--------------+
|experience_level|employee_residence|biggest_salary|
+----------------+------------------+--------------+
|            NULL|                US|        250000|
|          senior|                US|        412000|
|            NULL|                US|        250000|
|          middle|                US|        450000|
|          middle|                GR|        450000|
|            NULL|                FR|        600000|
|          senior|                US|        412000|
|          middle|                CA|        450000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                PR|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                GB|        450000|
|            NULL|                IN|        250000|
|            NULL|                US|        600000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
+----------------+------------------+--------------+
only showing top 20 rows

25/09/01 08:30:37 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , experience_level, employee_residence
 Schema: _c0, experience_level, employee_residence
Expected: _c0 but found:
CSV file: file:///workspace/1_PySpark_Basics/ds_salaries.csv

write df_new_best like 1.csv and load then it to df_final

In [111]:
df_new_best.write.csv("1.csv",header=True)
df_final=spark.read.csv("1.csv",header=True)

25/09/01 08:31:11 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , experience_level, employee_residence
 Schema: _c0, experience_level, employee_residence
Expected: _c0 but found:
CSV file: file:///workspace/1_PySpark_Basics/ds_salaries.csv

print df_final

In [112]:
df_final.show()

+----------------+------------------+--------------+
|experience_level|employee_residence|biggest_salary|
+----------------+------------------+--------------+
|            NULL|                US|        250000|
|          senior|                US|        412000|
|            NULL|                US|        250000|
|          middle|                US|        450000|
|          middle|                GR|        450000|
|            NULL|                FR|        600000|
|          senior|                US|        412000|
|          middle|                CA|        450000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                PR|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                GB|        450000|
|            NULL|                IN|        250000|
|            NULL|                US|        600000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
+----------------+------------------+--------------+
only showing top 20 rows

filter df_final to delete experience_level where it Null, then join this table by biggest_salary(salary_in_usd) and employee_residence with entire df

In [115]:
df_final=df_final.dropna()

print df_final

In [116]:
df_final.show(df_final.count())

+----------------+------------------+--------------+
|experience_level|employee_residence|biggest_salary|
+----------------+------------------+--------------+
|          senior|                US|        412000|
|          middle|                US|        450000|
|          middle|                GR|        450000|
|          senior|                US|        412000|
|          middle|                CA|        450000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                PR|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                GB|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          middle|                GB|        450000|
|          senior|                RU|        412000|
|          middle|                CA|        450000|
|          senior|                US|        412000|
|          middle|                EE|        450000|
|          middle|                GB|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                CL|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                NZ|        412000|
|          middle|                CA|        450000|
|          senior|                US|        412000|
|          senior|                GB|        412000|
|          middle|                GB|        450000|
|          middle|                US|        450000|
|          middle|                GB|        450000|
|          middle|                US|        450000|
|          middle|                GB|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          middle|                NL|        450000|
|          middle|                IN|        450000|
|          senior|                CA|        412000|
|          senior|                VN|        412000|
|          middle|                GB|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                GR|        412000|
|          middle|                PK|        450000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                GB|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                GB|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                GB|        450000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                BR|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          middle|                NL|        450000|
|          senior|                US|        412000|
|          middle|                HU|        450000|
|          middle|                CA|        450000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                GR|        412000|
|          senior|                FR|        412000|
|          middle|                SI|        450000|
|          middle|                TR|        450000|
|          senior|                SI|        412000|
|          senior|                US|        412000|
|          middle|                GB|        450000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          middle|                ES|        450000|
|          senior|                US|        412000|
|          middle|                CA|        450000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                CA|        412000|
|          middle|                PH|        450000|
|          middle|                US|        450000|
|          middle|                RO|        450000|
|          senior|                DE|        412000|
|          middle|                DE|        450000|
|          middle|                RS|        450000|
|          middle|                IT|        450000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                IN|        450000|
|          middle|                IN|        450000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                GB|        450000|
|          senior|                US|        412000|
|          senior|                GR|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          middle|                IN|        450000|
|          middle|                FR|        450000|
|          senior|                BR|        412000|
|          middle|                US|        450000|
|          middle|                PT|        450000|
|          middle|                PL|        450000|
|          senior|                US|        412000|
|          middle|                HU|        450000|
|          senior|                US|        412000|
|          senior|                IE|        412000|
|          middle|                US|        450000|
|          middle|                FR|        450000|
|          middle|                ES|        450000|
|          senior|                GB|        412000|
|          middle|                IN|        450000|
|          middle|                ES|        450000|
|          middle|                DE|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                PK|        450000|
|          middle|                SG|        450000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          middle|                JP|        450000|
|          middle|                ES|        450000|
|          senior|                JP|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                ES|        450000|
|          senior|                US|        412000|
|          senior|                DE|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                GR|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                AE|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          middle|                GB|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          middle|                US|        450000|
|          middle|                US|        450000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                GB|        412000|
|          middle|                US|        450000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          middle|                GB|        450000|
|          middle|                US|        450000|
|          senior|                HR|        412000|
|          senior|                GB|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                DE|        412000|
|          senior|                US|        412000|
|          middle|                GB|        450000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          middle|                DE|        450000|
|          senior|                DE|        412000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          middle|                GB|        450000|
|          senior|                US|        412000|
|          middle|                IN|        450000|
|          senior|                IN|        412000|
|          senior|                GB|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                PT|        450000|
|          middle|                US|        450000|
|          senior|                PT|        412000|
|          senior|                US|        412000|
|          middle|                GR|        450000|
|          senior|                US|        412000|
|          middle|                MD|        450000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                IN|        450000|
|          middle|                AT|        450000|
|          middle|                HK|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          middle|                GR|        450000|
|          middle|                NG|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          middle|                US|        450000|
|          middle|                SG|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                FR|        412000|
|          middle|                IN|        450000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                IN|        412000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          middle|                VN|        450000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          middle|                GB|        450000|
|          middle|                US|        450000|
|          middle|                CA|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                MX|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                CA|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                GB|        450000|
|          middle|                RU|        450000|
|          middle|                CA|        450000|
|          middle|                DE|        450000|
|          senior|                US|        412000|
|          middle|                TR|        450000|
|          middle|                US|        450000|
|          middle|                GB|        450000|
|          middle|                DE|        450000|
|          middle|                GB|        450000|
|          senior|                US|        412000|
|          middle|                ES|        450000|
|          senior|                US|        412000|
|          senior|                BR|        412000|
|          senior|                DE|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                CA|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                HN|        450000|
|          middle|                US|        450000|
|          middle|                JP|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                PT|        450000|
|          middle|                MX|        450000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                GB|        412000|
|          senior|                US|        412000|
|          senior|                JP|        412000|
|          middle|                JP|        450000|
|          middle|                CZ|        450000|
|          middle|                GR|        450000|
|          middle|                US|        450000|
|          middle|                ES|        450000|
|          middle|                IR|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                AE|        412000|
|          senior|                BR|        412000|
|          senior|                US|        412000|
|          senior|                CA|        412000|
|          middle|                AT|        450000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          middle|                DE|        450000|
|          senior|                US|        412000|
|          senior|                MY|        412000|
|          middle|                FR|        450000|
|          senior|                DE|        412000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                GB|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                BG|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                RO|        412000|
|          middle|                BR|        450000|
|          middle|                GB|        450000|
|          middle|                GB|        450000|
|          senior|                CA|        412000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                CA|        412000|
|          senior|                US|        412000|
|          middle|                ES|        450000|
|          middle|                DE|        450000|
|          senior|                US|        412000|
|          middle|                GR|        450000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                CA|        412000|
|          middle|                GR|        450000|
|          middle|                GB|        450000|
|          senior|                US|        412000|
|          middle|                GB|        450000|
|          middle|                US|        450000|
|          middle|                AE|        450000|
|          middle|                US|        450000|
|          middle|                US|        450000|
|          senior|                US|        412000|
|          senior|                IN|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          senior|                US|        412000|
|          middle|                FR|        450000|
|          middle|                FR|        450000|
|          senior|                IN|        412000|
|          senior|                US|        412000|
|          middle|                US|        450000|

last task is to save in variable and then print this variable of the biggest salary_in_usd from df_final

In [119]:
somevar=df_final.select(max(df_final.biggest_salary))
somevar.show()

+-------------------+
|max(biggest_salary)|
+-------------------+
|             450000|
+-------------------+

It is the end of PySpark basics. In other lessons you will learn optimizations technics and how to make distributed system